<!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .form-register {
      max-width: 600px;
      margin: 0 auto;
    }
    .form-register-heading {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-label {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .form-control {
      height: 40px;
      font-size: 16px;
    }
    .btn-register {
      font-size: 16px;
      padding: 10px 20px;
    }
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <form class="form-register" method="post" action="/auth/register" enctype="multipart/form-data">
      <h2 class="form-register-heading">Please Register</h2>
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" required autofocus>
        <div class="error-message"></div>
      </div>
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email Address" required>
        <div class="error-message"></div>
      </div>
      <div class="form-group">
        <label class="form-label" for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" required>
        <div class="error-message"></div>
      </div>
      <div class="form-group">
        <label class="form-label" for="country">Country</label>
        <input type="text" class="form-control" name="country" placeholder="Country" required>
        <div class="error-message"></div>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <div class="error-message"></div>
      </div>
      <div class="form-group">
        <label class="form-label" for="role">Role</label>
        <select class="form-control" name="role" id="roleSelect" required>
          <option value="">Select Role</option>
          <option value="recruiter">Recruiter</option>
          <option value="jobseeker">Jobseeker</option>
          <option value="company">Company</option>
        </select>
        <div class="error-message"></div>
      </div> 

      <div class="form-group" id="resumeFile" style="display: none;">
        <input type="file" name="resume" id="resume" accept=".pdf,.docx">
      </div>
      
      
      <div class="form-group" id="companyNameGroup" style="display: none;">
        <label class="form-label" for="companyName">Company Name</label>
        <input type="text" class="form-control" name="companyName" placeholder="Company Name">
        <div class="error-message"></div>
      </div>  

      <div class="form-group" id="skillsGroup" style="display: none;">
        <label class="form-label" for="skills">Skills</label>
        <input type="text" class="form-control" id="skillsInput" name="skills"  placeholder="Enter skills separated by commas">
        <button type="button" class="btn btn-primary" id="addSkillsBtn">Add Skills</button>
        <div  class="error-message" id="skillsList"></div>
      </div>

      <input type="hidden" id="hiddenSkillsInput" name="skills" value="">
      
      <button class="btn btn-primary btn-block btn-register" type="submit">Register</button>
    </form>
  </div>

  </body>

  <script>
    // Validate form inputs
    const form = document.querySelector('.form-register');

    const roleSelect = document.getElementById('roleSelect');
    const companyNameGroup = document.getElementById('companyNameGroup');
    const companyNameInput = document.querySelector('[name="companyName"]');

    const resumeFile = document.getElementById('resumeFile');
    const resumeInput = document.querySelector('[name="resume]');


    const addSkillsBtn = document.getElementById('addSkillsBtn');
    const skillsInput = document.getElementById('skillsInput');
    const skillsList = document.getElementById('skillsList');
    const skillsGroup = document.getElementById('skillsGroup');

    roleSelect.addEventListener('change', () => {
      if (roleSelect.value === 'recruiter') {
        skillsGroup.style.display = 'block';
      } else {
        skillsGroup.style.display = 'none';
      }
    });

    addSkillsBtn.addEventListener('click', () => {
    const skills = skillsInput.value.split(',').map(skill => skill.trim());
    skills.forEach(skill => {
      if (skill !== '') {
        const skillBadge = document.createElement('span');
        skillBadge.classList.add('badge', 'badge-secondary');
        skillBadge.textContent = skill;
        skillsList.appendChild(skillBadge);
      }
       });

    // // Clear input field
    // skillsInput.value = '';
      });



    roleSelect.addEventListener('change', () => {

      if (roleSelect.value === 'company') {
        companyNameGroup.style.display = 'block';
        companyNameInput.required = true; // Make the field required
      } else {
        companyNameGroup.style.display = 'none';
        // companyNameInput.required = false; // Remove the required attribute
      }

      if (roleSelect.value === 'jobseeker') {
        resumeFile.style.display = 'block'; // Display the parent container
        resumeInput.required = true; // Make the field required
      } else {
        resumeFile.style.display = 'none'; // Hide the parent container
        // resumeInput.required = false; // Remove the required attribute
      }

    });

  form.addEventListener('submit', (event) => {
  const nameInput = form.querySelector('[name="name"]');
  const emailInput = form.querySelector('[name="email"]');
  const phoneInput = form.querySelector('[name="phoneNumber"]');
  const countryInput = form.querySelector('[name="country"]');
  const passwordInput = form.querySelector('[name="password"]');
  const companyName = form.querySelector('[name="companyName"]');
  const resumeInput = form.querySelector('[name="resume"]');

  let isValid = true;

    // Validate name
    if (nameInput.value === '') {
        nameInput.nextElementSibling.textContent = 'Please enter your name';
        isValid = false;
      } else {
        nameInput.nextElementSibling.textContent = '';
      }

      // Validate email
      if (emailInput.value === '') {
        emailInput.nextElementSibling.textContent = 'Please enter your email address';
        isValid = false;
      } else if (!isValidEmail(emailInput.value)) {
        emailInput.nextElementSibling.textContent = 'Please enter a valid email address';
        isValid = false;
      } else {
        emailInput.nextElementSibling.textContent = '';
      }

      // Validate phone number
      if (phoneInput.value === '') {
        phoneInput.nextElementSibling.textContent = 'Please enter your phone number';
        isValid = false;
      } else if (!isValidPhoneNumber(phoneInput.value)) {
        phoneInput.nextElementSibling.textContent = 'Please enter a valid phone number';
        isValid = false;
      } else {
        phoneInput.nextElementSibling.textContent = '';
      }

      // Validate country
      if (countryInput.value === '') {
        countryInput.nextElementSibling.textContent = 'Please enter your country';
        isValid = false;
      } else {
        countryInput.nextElementSibling.textContent = '';
      }

      // Validate password
      if (passwordInput.value === '') {
        passwordInput.nextElementSibling.textContent = 'Please enter your password';
        isValid = false;
      } else if (passwordInput.value.length < 8) {
        passwordInput.nextElementSibling.textContent = 'Your password must be at least 8 characters long';
        isValid = false;
      } else {
        passwordInput.nextElementSibling.textContent = '';
      }
      
      // Validate Companyname
      if (roleSelect.value === 'company' && companyName.value === '') {
        companyName.nextElementSibling.textContent = 'Please enter your company name';
        isValid = false;
      } else {
        companyName.nextElementSibling.textContent = '';
      }


    // Validate resume (only for jobseeker role)
    if (roleSelect.value === 'jobseeker' && resumeInput.value === '') {
      resumeInput.nextElementSibling.textContent = 'Please upload your resume';
      isValid = false;
    } 

      // Validate skills
      if (roleSelect.value === 'recruiter') {

      const skills = skillsInput.value.split(',').map(skill => skill.trim()).filter(skill => skill !== ''); // Filter out empty skills

      const skillsString = skills.join(','); // Join skills into a comma-separated string

      if (skillsString === '') {
          document.getElementById('skillsList').textContent = 'Please enter at least one skill';
      isValid = false;
          event.preventDefault(); // Prevent form submission
      } else {
          document.getElementById('skillsList').textContent = '';
          // Update hidden input value with skills
          document.getElementById('hiddenSkillsInput').value = skillsString;
      }
  }

  if (!isValid) {
    event.preventDefault();
  }
});
    
    // Helper function to validate email address
    function isValidEmail(email) {
      const emailRegex = /^\S+@\S+\.\S+$/;
      return emailRegex.test(email);
    }

    // Helper function to validate phone number
    function isValidPhoneNumber(phoneNumber) {
      const phoneRegex = /^\d{10}$/;
      return phoneRegex.test(phoneNumber);
    }
  </script>
</html>
